<ion-header>
  <ion-toolbar>
    <ion-title>snappic</ion-title>
  </ion-toolbar>
</ion-header>


  <ion-content>
    <div *ngIf="successMsg">
      <ion-label>{{successMsg}}</ion-label>
    </div>
    <div *ngIf="downloadedImage">
      <img  [src]="downloadedImage" alt="Select Image" width="500" height="400">
    </div>
    
    <ion-fab vertical="bottom" horizontal="center" slot="fixed">
      <ion-fab-button (click)="takePicture()">
        <ion-icon name="camera"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-content>


